html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-bottom: 4rem;
  min-height: 100%;
  position: relative;
}

table.center{
  margin: 0.8em auto;
}

.previewComponent{
  margin: 1em auto;
}

.reactable-data tr:hover{
    background-color: #deb187;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

td, th {
    padding: 0.5em;
    text-align: left;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #222;
  color: #f2f2f2;
  text-align: center;
}

.footer a {
    color: #87ceeb;
}